body {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    background-color: #0f0f1e;
    display: block;
    cursor: crosshair;
}

/* NOVO: Estilo para o vídeo de introdução */
#introVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o vídeo cubra a tela sem distorcer */
    background-color: #000;
    display: none; /* Começa escondido */
    z-index: 100; /* Garante que fique por cima de tudo */
}